<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <!--  <property name="hibernate.cache.region.factory_class">net.sf.ehcache.hibernate.EhCacheRegionFactory</property>-->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">D2TRnm-tz2j4</property>
        <property name="hibernate.connection.pool_size">10</property>
        <property name="hibernate.connection.url">jdbc:mysql://53b6d7bd5973cab5da0000b1-propertyprod.rhcloud.com:51486/sales</property>
        <property name="hibernate.connection.username">adminefhLDUF</property>
        <!--  <property name="hibernate.default_schema">propertyprice</property>-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.flushMode">always</property>
        <property name="connection.autocommit">true</property> 
        <property name="hibernate.connection.autoReconnect">true</property>
        <property name="c3p0.min_size">1</property>
		<property name="c3p0.max_size">10</property>
		<property name="c3p0.timeout">1000</property>
		<property name="hibernate.c3p0.validate">true</property>
		<property name="c3p0.max_statements">50</property>
		<property name="connection.provider_class">
		   org.hibernate.connection.C3P0ConnectionProvider</property>
		   
        <mapping resource="com/company/propertyprice/model/Property.hbm.xml" />
        <mapping resource="com/company/propertyprice/model/PropertySale.hbm.xml" />
        <mapping resource="com/company/propertyprice/model/PropertySaleError.hbm.xml" />
        <mapping resource="com/company/propertyprice/model/PropertySaleUpdate.hbm.xml" />
        <mapping resource="com/company/propertyprice/model/Address.hbm.xml" />
        <mapping resource="com/company/propertyprice/model/GeoCode.hbm.xml" />
        <mapping resource="com/company/propertyprice/model/ServerConfig.hbm.xml" />
        <mapping resource="com/company/propertyprice/model/ServerNode.hbm.xml" />
        <mapping resource="com/company/propertyprice/model/UserEvent.hbm.xml" />
        <mapping resource="com/company/propertyprice/model/UserCrash.hbm.xml" />

    </session-factory>
</hibernate-configuration>
